.introduction {
    display: flex;
    justify-content: justify-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../../Images/Introduction/Introduction.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.SkipButton {
    background-color: rgba(26, 26, 26, 0.5);
    width: 65px;
    height: 28px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px rgba(182, 180, 180, 0.5) solid;
    cursor: pointer;
}

.introduction_body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 16px;
    width: 328px;
    height: 88px;
    gap: 10px;
    margin: 14px auto;
    background-color: rgba(26, 26, 26, 0.5);
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: left;
}

.introduction_body img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px #EAC889 solid;
}

.inputSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px #EAC889 solid;
    margin-top: 380px;
    width: 328px;
    height: 44px;
    border-radius: 5px;
    background-color: rgba(26, 26, 26, 0.5);
}

.inputField {
    background: transparent;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    border-left: 1px #EAC889 solid;
}

input:focus {
    outline: none;
}

.inputSection_react {
    width: 24px;
    height: 24px;
}