.Congratulation{
color: #FFDE88 ;
margin-left: 17vh;
color: #EAC889;
font-family: Euclid Circular B;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 2vh;
}

.context-thanks{
    color: #FFF;
text-align: center;
font-family: Euclid Circular B;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
border-radius: 5px;
background: rgba(26, 26, 26, 0.50);
backdrop-filter: blur(8px);
width: 64vw;
margin-bottom: 15vh;
margin-left: 20%;
}

.profile-image{
    margin-top: 17vh;
    margin-left:15vh

}