.vectorImage{
    height: 14vh;
    width: 50vh;
    margin-top: 20vh;
}
.profileImage{
    margin-bottom: 20vh;
    height: 26vh;
    width: 60vw;
    margin-top: 10vh;
}
.main-screen-container{
    overflow-y: hidden;
    overflow-x: hidden;
        background-image: url('../../src/Images/HomeScreen/homeMain.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
}