.vectorImage-home{
    margin-left: 15vh;
    margin-top: 15vh;  
}
.profileImage{
    margin-bottom: 60vh;
    height: 20vh;
    width: 20vh;
}
.input-container{
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}