.label {
    color: #F5F5F5;
font-size: 12px;
font-family: Euclid Circular B;
font-style: normal;
font-weight: 400;
line-height: 18px;
}
.heading {
    padding-top: 20px;
    color: #EAC889;
font-size: 16px;
font-family: Euclid Circular B;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: left;

}
.w-available{
    width: -webkit-fill-available;
}
.bottom-sec{
    @extend .w-available;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    .name{
        color: #F5F5F5;
        font-size: 16px;
        font-family: Euclid Circular B;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
    }
    
    .date{
        color: #D9D9D9;
    font-size: 14px;
    font-family: Euclid Circular B;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    display: flex;
    }

}
.bottom-sec-2{
    @extend .w-available;

    display: flex;
    align-items: center;
    justify-content:space-between

}

