.background-img {
    background-image: url("../Images/HomeScreen/Bg_MasterClass.jpg");
    background-size:cover;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-shrink: 0;
    justify-content: end;
    flex-direction: column;
    background-repeat: no-repeat;
}

.imgtia {
    width: 165px;
    height: 165px;
    margin-bottom: 0.2rem;
    border-radius: 48%;
}

.title-st {
    width: 168px;
    height: 20px;
    margin-top: 1rem;;
    margin-bottom:1rem;

}

.title-topography {
    font-family: Euclid Circular B;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(234, 200, 137, 1);
}

.content {
    width: 20.5rem;
    margin-top:12px;
    background: rgba(26, 26, 26, 0.5);
    border-radius: 5px;
    padding: 0.2rem;
}

.content p {
    font-family: Euclid Circular B;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(245, 245, 245, 1);

}

.btn {

    width: 20.5rem;
    height: 2.75rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 4rem;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgba(134, 134, 134, 0.25);
    color: rgba(255, 222, 136, 1);
}

.btn:hover {
    border: 3px solid lightskyblue;
}