.master-class-1 {
background-image: url('../../src/Images/MasterClass/Master.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.tab-screen{
  display: flex;
  justify-content: space-between;
  width: 80%;
  
}
.Upcoming-button{
  color: #EAC889;
font-size: 12px;
font-family: Euclid Circular B;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.cards{
  width: 157px;
  height: 241px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.49) 7.11%, rgba(255, 255, 255, 0.00) 26.97%, rgba(127, 127, 127, 0.39) 44.26%, rgba(63, 63, 63, 0.59) 60.19%, rgba(33, 33, 33, 0.68) 79.95%, rgba(0, 0, 0, 0.78) 100%);
}
.selected-masterclass{
  width: 157px;
height: 2px;
flex-shrink: 0;
border-radius: 100px;
background: #EAC889;
margin-bottom: 30px;
margin-right: 190px;
}
.card-main-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card-section-2{
  margin-top: 40px;
  margin-bottom: 80px;
}