/* OtpScreen.css */

/* Common styles for all screen sizes */
.otp-screen-container {
    background-image: url('../../src/Images/OtpScreen/OTP-screen 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .otp-verify-button{
    width: 328px;
    height: 44px;
    flex-shrink: 0;    
    background-color: transparent;
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    backdrop-filter: blur(9px);
    color: aliceblue;
  }
  .otp-line {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .otp-line h1 {
    color: white;
    font-size: 20px;
    margin: 0;
  }
  
  .otp-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
background: linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.07) 100%);

  }
  
  .otp-line-4 {
    text-align: center;
  }
  
  .resend-otp-text {
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  /* Media queries for mobile view */
  @media (max-width: 767px) {
    .otp-line h1 {
      font-size: 16px;
    }
  
    .otp-input {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }
  