.img-background-StoryPage {
background-image: url('../Images/HomeScreen/WinState2.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.White-Box{
    margin-left: 2vh;
width: 90vw;
height: 80vh;
flex-shrink: 0;
border-radius: 5px;
background: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(45deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.29) 100%);
backdrop-filter: blur(9px);
}

.Slider-Story{
    margin-left: 2vh;
width: 90vw;
height: 4px;
flex-shrink: 0;
border-radius: 100px;
background: rgba(169, 169, 169, 0.50);
backdrop-filter: blur(7.5px);
margin-top: 20px;
margin-bottom: 20px;
}

/* .story-skip-button{
width: 65px;
height: 28px;
flex-shrink: 0;
border-radius: 5px;
backdrop-filter: blur(22.5px);
} */


.White-Box-container{
    margin-bottom: 10vh;
}