.navSection {
    padding: 0;
    width: 100%;
    height: 54px;
    margin: 0 auto;
    background-color: rgba(91, 91, 91, 0.5);
    color: #FFFFFF;
}

.navbar {
    margin: 10px 16px;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7.5rem;
}