.App {
  // text-align: center;
  margin: 0 auto;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }

//   to {
//     transform: rotate(360deg);
//   }
// }


// @media screen and (min-width: 400px) {
//   .App {
//     /* max-width: 390px; */
//   }
// }


.img-background {
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-position: right;
} 
.img-background-type-1 {
  @extend .img-background;
  background-image: url('Images/OtpScreen/OTP-screen 1.jpg');
  


}
.img-background-type-2 {
  @extend .img-background;
  background-image: url('Images/HomeScreen/home1-bg.svg');
}

.img-background-type-3 {
  @extend .img-background;
  background-image: url('Images/HomeScreen/homeMain.jpg');
}
.img-background-type-4 {
  @extend .img-background;
background-image: url('/Images/HomeScreen/WinState2.jpg');
}

.img-background-type-5 {
  @extend .img-background;
background-image: url('/Images/HomeScreen/Frame-18.jpg');
}
.img-background-type-6 {
  @extend .img-background;
background-image: url('/Images/MasterClass/Master.jpg');
}


// magrin along y-axis 
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.px-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.px-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.w-10 {
  width: 10%;
}

.f12{
  font-size: 12px;
}
.f14{
  font-size: 14px;
}
.f16{
  font-size: 16px;
}
.f20{
  font-size: 20px;
}

.screen-container-1 {
  min-height:calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

// .logo1{
//   -webkit-transition: -webkit-transform 1.4s;
//   transition: transform 1.4s;

// }
// .logo1-zoom {
//     -webkit-transform: scale(.8) rotate(0.01deg);
//     transform: scale(.8) rotate(0.01deg);
// }
// .h-20{
//   // min-height: 20vh;
// }
// .logo-container{
//   display: flex;
//   align-items: end;
//   justify-content: center;
//   transition:min-height 5s;
// }

.button{
  width: auto;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  font-size: 14px;
  font-family: Euclid Circular B;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #FFDE88;
background: linear-gradient(45deg, rgba(134, 134, 134, 0.25) 0%, rgba(171, 171, 171, 0.25) 100%);
backdrop-filter: blur(9px);
}

.button-stepInside{
  width: calc(40vh);
  text-align: center;
  padding: 20px;
  color: #FFDE88;
  font-size: 14px;
  font-family: Euclid Circular B;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #FFDE88;
background: linear-gradient(45deg, rgba(134, 134, 134, 0.25) 0%, rgba(171, 171, 171, 0.25) 100%);
backdrop-filter: blur(9px);
}